!Cargo.lock

!.IDEA
!.VSCode

target
target/*
target/*/**

.log
.Log
.LOG

*.log
*.Log
*.LOG

*.log.*
*.Log.*
*.LOG.*

.DS_Store
.IO-Installer
.Vault-Installer

/.data
/.data/*
/.data/**

.data
.data/*
.data/**

.server
.version
.controller

.discovery

*.pem
*.key
*.ca
*.cert
*.priv
*.exe
*.zip
*.pdb
*.d

**/*-amd64
**/*-amd64/
**/*-amd64/**

.idea
.DS_Store
.log
